<div id="user-welcome">

  <div class="row">
    <div class="large-6 large-centered columns">
      <% if !current_user.github_name %>
          <h4>Add your Github Username to Track Your Github Repos</h4>
          <%= form_tag(add_github_path, method: :post) do %>
            <%= label_tag :username, "Github Username:" %>
            <%= text_field_tag :name %>
            <%= submit_tag "Add Github Username", class: "custom-button button round" %>
          <% end %>
        <% else %>
          <h2 id="github-stats-toggle">Github Information</h2>
          <div style="display:none" id="github-stats">
            Name: <%= current_user.name %><br/>
            Username: <%= current_user.github_name %><br/>
          </div>
        <% end %>

      <%= form_tag(user_path(current_user), method: :patch) do %><br/>
        <%= label_tag :phone, "Phone Number:" %><%= current_user.phone %>
        <%= text_field_tag :phone %><br />
        <%= label_tag :time_zone, "Time Zone (example MST): " %><%= current_user.time_zone %>
        <%= text_field_tag :time_zone %>

        <%= submit_tag "Create", class: "custom-button button round" %>
      <% end %>
  </div>
</div>

<div id="back-button">
  <%= link_to "Back", dashboard_path %>
</div>
