<div>
  <h4>Did you complete this habit today?</h4>
  <%= form_for [habit, Event.new(habit: habit)] do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.hidden_field :created_at, value: Time.now %>
    <%= f.hidden_field :habit_id, value: habit.id %>
    <%= f.submit "YES" %>
  <% end %>

 <%= form_for [habit, Event.new(habit: habit)] do |f| %>
    <%= f.hidden_field :completed, value: false %>
    <%= f.hidden_field :created_at, value: Time.now %>
    <%= f.hidden_field :habit_id, value: habit.id %>
    <%= f.submit "NO" %>
  <% end %>
</div>
