<div class="event-form">
  <%= form_for [habit, Event.new(habit: habit)] do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.hidden_field :created_at, value: Time.now %>
    <%= f.hidden_field :habit_id, value: habit.id %>
    <%= f.submit "Mark As Completed", class: "button round tiny tan" %>
  <% end %>
</div>
