<div class="row home-info">
  <div class="large-6 columns">
    <h3 class="home-info-header">Build A New Habit</h3>
    <p><%= ("content" + " ") * 30 %></p> 
    <p><%= ("content" + " ") * 30 %></p> 
    <p><%= ("content" + " ") * 30 %></p> 
  </div>
  <div class="large-6 columns">
    <h3 class="home-info-header">Strengthen Existing Habits</h3>
    <p><%= ("content" + " ") * 30 %></p> 
    <p><%= ("content" + " ") * 30 %></p> 
    <p><%= ("content" + " ") * 30 %></p> 
  </div>
</div>
