<div class="row home-info">
  <div class="large-6 columns">
    <h3 class="home-info-header">Build A New Habit</h3>
    <p><%= ("Trying to develop a new habit? Need a little motivation? Let the Habit Rabbit help.") %></p>
    <p><%= ("content" + " ") * 30 %></p>
    <p><%= ("content" + " ") * 30 %></p>
  </div>
  <div class="large-6 columns">
    <h3 class="home-info-header">Strengthen Existing Habits</h3>
    <p><%= ("content" + " ") * 30 %></p>
    <p><%= ("content" + " ") * 30 %></p>
    <p><%= ("content" + " ") * 30 %></p>
  </div>
</div>
