<div class='large-12 columns'>
  <h3 id='habit-welcome'>Welcome, <%= current_user.name %> | <%= link_to "Settings", user_path(current_user.id) %></h3>

  <% unless current_user.habits.empty? %>
      <h2 id='habit-header'>Your Habits</h2>
      <div class="habit-list">
        <div class="grid-sizer">
        <% current_user.habits.each do |habit| %>
          <div class='habit-wrapper'>
            <div class="inpre"></div>
            <div class="habit_content">
              <%= habit.name %><br/>
              <%= link_to "More Information", habit_path(habit) %><br/>
              <%= link_to "Delete Habit", habit_path(habit), method: 'delete', data: {confirm: "Are you sure?"} %><br/>
              Current Streak: <%= habit.streak_days %><br/>

              <div class="event-form">
                <% if habit.event_requires_update?(habit) && !habit.github_repo %>
                  <%= render 'shared/event_confirmation', habit: habit %>
                <% end %>
              </div>

            </div>
            <div class="inpos"></div>

          </div>
        <% end %>
        </div>
      </div>

      <% end %>
    <%# end %>
    <br/>
    <div id="button">
      <%= button_tag "Create Custom Habit", id: 'create-custom' %>
      <%= button_tag "Track Github Repo", id: 'track-repo' %>
    </div>

  <div style='display:none' id='track-repo-form'>
    <%= form_tag(track_repo_path, method: :post, remote: true) do %>
      <%= label_tag :repo, "Github Repo (i.e. username/reponame)" %>
      <%= text_field_tag :repo %><br />
      <%= hidden_field_tag :start_date, Time.now %>

      <%= submit_tag "Track Repo" %>
    <% end %><br/>
  </div>

  <div style="display:none" id='create-habit-form'>
    <%= form_tag(habits_path, method: :post, remote: true) do %>
      <%= label_tag :title, "Habit" %>
      <%= text_field_tag :title %><br />
      <%= hidden_field_tag :start_date, Time.now %>

      <%= submit_tag "Create Habit" %>
    <% end %><br/>
  </div>
</div>

<div id="button">
  <%= link_to "Log Out", signout_path, class: 'button tiny' %><br/>
</div>

<script src="assets/habit_scripts.js"></script>
<script src="/assets/masonry.pkgd.min.js"></script>
<script src="/assets/imagesloaded.pkgd.min.js"></script>

<script>
  var container = document.querySelector('.habit-list');
  var msnry = new Masonry( container, {
    columnWidth: ".grid-sizer",
    itemSelector: '.habit-wrapper'
  });
  imagesLoaded( container, function() {
    msnry.layout();
  });
</script>
