<h1>Welcome</h1>

<% unless current_user.habits.empty? %>
  <h2>Your Habits</h2>
  <div class="habit-list">
    <% current_user.habits.each do |habit| %>
      <li><%= habit.name %></li>
    <% end %>
  </div>
<% end %>

<%= button_tag "Create Custom Habit", id: 'create-custom' %>

<div style="display:none" id="create-habit-form">
  <%= form_tag(habits_path, method: :post, remote: true) do %>
    <%= label_tag :name %>:
    <%= text_field_tag :name %><br />

    <%= submit_tag "Create" %>
  <% end %>
</div>
<script src="assets/habit_scripts.js"></script>
