<h2 id='habit-welcome'> Details about your <%= "#{@habit.name}" %> habit</h2>

<div id="habit-edit" class="large-12 columns">
  <%= form_for @habit do |f| %>
    <%= f.label "Edit this habit's name" %>
    <%= f.text_field :name %>
    <%= f.label "Edit this habit's notification time" %>
    <%= f.time_select 'notification_time', {minute_step: 15, :ampm => true }, class: "small-3 columns" %>
    <%= f.submit 'Save', class: "custom-button button round large-5 columns right" %><br/>
    <div></div>
    <%= f.label :notifications %>
    <%= f.check_box :notifications, {checked: @habit.notifications} %><br/>
  <% end %>
</div>

<div id="button">
  <%= link_to "Delete Habit", habit_path(@habit), method: 'delete', class: "custom-button button round",  data: {confirm: "Are you sure?"} %><br/>
</div>

<div id="button">
  <%= link_to "Back", dashboard_path %>
</div><div class="rickshaw_container">
  <h3><%= "#{@habit.name.capitalize}" + " Progress" %></h3>
  <div class="chart large-8 large-centered colummns"></div>
</div>

<script src="/assets/d3.min.js"></script>
<script src="/assets/d3.layout.min.js"></script>
<script src="/assets/rickshaw.min.js"></script><script>

var events = <%= @events %>

var data = events.map(function (pt) { return { x: pt[0], y: pt[1] }; });

var graph = new Rickshaw.Graph( {
        element: document.querySelector(".chart"),
        width: 580,
        height: 300,
        min: -0.2,
        interpolation: 'linear',
        series: [ {
                name: "habit",
                data: data,
                color: '#daa96f'
        } ]
});

var xAxis = new Rickshaw.Graph.Axis.Time({
    graph: graph,
});

var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: graph,
    element: document.getElementById('y_axis')
});

xAxis.render();
yAxis.render();
graph.render();

</script>
